html{
    scroll-behavior: smooth;
}
body{
    background-image: url(../images/IMG-20250320-WA0002.jpg);
    /* background-size: 1030px 500px; */
    background-size: auto;
    background-repeat:no-repeat;
    padding:0;
    margin:0;
    background-attachment: fixed;
}
nav{
    width:100%;
    height:160px;
    background-color: rgba(0, 0, 0, 0.65);
    float:left;
    box-sizing: border-box;
    padding:15px;
}
#welcome{
    font-size: 50px;
    color:white;
    text-align: center;
    padding:0;
    margin:0;
}
#menu{
    width:500px;
    height:50px;
    margin-top: 10px;
    box-sizing: border-box;
}
#nav-item{
    width:20%;
    border:2px solid white;
    text-align:center;
}
a{
    color:white;
    text-decoration: none;
    font-family: sans-serif;
    font-size:16px;
}
#home_section{
    width:600px;
    height:300px;
    background-image:url("../images/b-backgroung.png");
    background-repeat: no-repeat;
    float:right;
    box-sizing: border-box;
}
#logo{
    width:100px;
    height:100px;
    border:4px solid white;
    box-sizing: border-box;
    margin-top:100px;
    margin-left:80px;
}
#logo-text{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:100px;
    color:white;
    box-sizing: border-box;
    margin-top:-18px;
}
#domain{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 20px;
    text-align: center;
    margin-left:80px;
    box-sizing: border-box;
}
/* start login page nav code */
#domain_name{
    margin:0;
    padding:0;
    color:white;
    text-align: center;
    font-size: 50px;
}
/* end login page nav code */
/* start login page section code */
#login_section{
    width:600px;
    height:300px;
    background-image:url("../images/b-backgroung.png");
    background-repeat: no-repeat;
    float:right;
    padding:20px 175px;
    box-sizing: border-box;
}
#signup_section{
    width:600px;
    /* height:300px; */
    height: auto;
    background-image:url("../images/b-backgroung.png");
    background-repeat: no-repeat;
    float:right;
    padding:0px 200px;
    box-sizing: border-box;
}
#login_section fieldset{
    width:350px;
    height:230px;
    border:2px solid white;
    padding:20px;
    box-sizing: border-box;
}
#signup_section fieldset{
    width:350px;
    height:100%;
    border:2px solid white;
    padding:15px 15px 5px 15px;
    box-sizing: border-box;
}
legend{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size: 24px;
    font-weight:bold;
}
#login_form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size:18px;
    box-sizing: border-box;
}
#signup_form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size:16px;
    box-sizing: border-box;
}
#login_form #username, #password{
    width:100%;
    height:25px;
    background-color: inherit;
    border:none;
    border:1px solid white;
    margin:10px 0;
    box-sizing: border-box;
    color:white;
    padding:8px;
}
#signup_form #username, #email, #phone{
    width:100%;
    height:25px;
    background-color: inherit;
    border:none;
    border:1px solid white;
    margin:3px 0;
    box-sizing: border-box;
    color:white;
    padding:8px;
}
textarea{
    width:100%;
    height:35px;
    background-color: inherit;
    border:none;
    border:1px solid white;
    margin:5px 0;
    box-sizing: border-box;
    color:white;
    padding:8px;
}
#login_btn{
    width:90px;
    height:35px;
    box-sizing: border-box;
    float:right;
    margin-top: 3px;
    background-color: inherit;
    border:none;
    border:1px solid white;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
#sign_btn{
    width:100px;
    height:30px;
    box-sizing: border-box;
    float:right;
    margin-top: 0;
    margin-bottom: 4px;
    background-color: inherit;
    border:none;
    border:1px solid white;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}
/* end login page section code */
/* start contact page section code */
#address{
    color:white;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height:2.0;
    font-size: 17px;
}
/* end contact page section code */
/* start product page section code */
#product_section{
    width:100%;
    height:2100px;
    box-sizing: border-box;
    float:left;
}
#brand{
    width:100%;
    height:320px;
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    float:left;
}
#brand-heading{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}
#brand_pic{
    width:167px;
    height: 70px;
    float: left;
    box-sizing: border-box;
    border:1px solid black;
    margin:19px;
    margin-top: 15px;
}
#brand_pic img{
    width:100%;
    height:100%;
}
#search{
    width:60%;
    height:40px;
    float:left;
    padding:10px;
    border:none;
    border:1px solid #ccc;
    margin:0 20%;
    margin-top: 30px;
    box-sizing: border-box;
}
#lakme-pro, #maybeline-pro, #nykaa-pro, #mamaearth-pro, #loreal-pro{
    width:100%;
    height:360px;
    background-color:rgba(0, 0, 0, 0.65);
    float:left;
    box-sizing: border-box;
}
#pro-heading{
    text-align: center;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    margin-top:10px;
    box-sizing: border-box;
}
#lakme, #maybeline, #nykaa, #mamaearth, #loreal{
    width:200px;
    height: 250px;
    border:2px solid white;
    float:left;
    box-sizing: border-box;
    margin-left:28px;
    margin-right:28px;
}
#p_name{
    text-align: center;
    color:white;
    font-family: sans-serif;
    padding:0;
    margin:0;
    font-size: 14px;
}
#p_price{
    color:white;
    font-family: sans-serif;
    padding:0;
    margin:0;
    margin:8px;
    box-sizing: border-box;
    float:left;
    font-size: 14px;
}
#buy{
    color:white;
    padding:0;
    margin:0;
    float:right;
    margin: 4px;
    margin-right: 8px;
    box-sizing: border-box;
    border:none;
    background-color: inherit;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
/* end product page section code */
